#current-marks {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .subjectsList {
    list-style: none;
    counter-reset: index;
    padding: 0;
    max-width: 300px;
    margin-top: 0;

    li {
      counter-increment: index;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 12px 0;
      box-sizing: border-box;
      color: var(--forth-color);
    }

    li::before {
      content: counters(index, '.', decimal-leading-zero);
      font-size: 1.5rem;
      font-weight: bold;
      min-width: 50px;
      font-variant-numeric: tabular-nums;
      align-self: flex-start;
      background-image: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--forth-color)
      );
      background-attachment: fixed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li + li {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .marksList {
    width: 80%;
    padding-left: 0;

    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
    }

    .table-header {
      background-color: var(--secondary-color);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }

    .table-row {
      background-color: var(--forth-color);
      text-align: left;
    }

    .col-1 {
      flex-basis: 50%;
    }
    .col-2 {
      flex-basis: 30%;
    }
    .col-3 {
      flex-basis: 20%;
    }

    .table-row .col-2 {
      padding-left: 7%;
    }

    @media (max-width: 767px) {
      .table-header {
        display: none;
      }

      li {
        display: block;
      }

      .col {
        flex-basis: 100%;
        display: flex;
        padding: 10px 0;

        &:before {
          color: var(--primary-color);
          padding-right: 5%;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: left;
        }
      }

      .col-2 {
        padding-left: 0 !important;
      }
    }
  }

  svg path,
  svg polygon {
    fill: var(--forth-color);
  }

  #back-button {
    width: 20px;
    height: 20px;
    position: relative;
    left: -35%;
    top: -3%;
    cursor: pointer;
  }

  #modal {
    position: absolute;
    z-index: 50;
    width: 30%;
    height: 60%;
    top: 15%;
    background-color: var(--forth-color);
    border-radius: 20px;
    box-shadow: 3px 3px 6px 3px var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    .control {
      position: static;
      border: 0;
      border-radius: 8px;
      outline: none;
      width: 40%;
      height: 40px;
      padding: 0 16px;
      background: rgba(35, 22, 35, 0.415);
      border-radius: 6px;
      color: #f9f9f9;
      margin: 15px auto;
      font-family: inherit;
      text-align: left;
      font-size: 16px;
      transition: 0.4s;
      margin-top: 0;
    }

    .control::placeholder {
      color: rgba(24, 7, 18, 0.931);
    }

    .action-btn {
      background-color: var((--forth-color));
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(222, 183, 183, 0.2) 0 3px 5px -1px,
        rgba(229, 174, 174, 0.14) 0 6px 10px 0,
        rgba(235, 216, 216, 0.12) 0 1px 18px 0;
      box-sizing: border-box;
      color: var(--primary-color);
      cursor: pointer;
      height: 2rem;
      letter-spacing: 0.25px;
      line-height: normal;
      max-width: 100%;
      padding: 2px 24px;
      text-align: center;
      text-transform: uppercase;
      width: auto;
    }

    #student-select {
      width: 45%;
    }

    .action-btn {
      background-color: var(--primary-color);
      color: var((--forth-color));
      cursor: pointer;
      margin-top: 5%;
      width: 40%;
    }

    .action-btn:hover {
      background-color: rgb(73, 56, 56);
    }
  }
  #link-btn {
    margin-bottom: 35%;
    z-index: 0;
  }
}

@media (min-width: 767px) {
  #current-marks {
    height: 100vh;
  }
}

@media (max-width: 1150px) {
  #modal {
    width: 50% !important;
  }
}
@media (max-width: 720px) {
  #modal {
    width: 65% !important;
  }
}
