#login {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;

  &.light {
    #container {
      box-shadow: 0rem 0rem 0.8rem 0.4rem rgb(110, 101, 101);
    }
  }

  &.dark {
    #container {
      width: 20rem;
      height: 25rem;
      background-color: rgb(211, 206, 206);
      border-radius: 2rem;
      box-shadow: 0rem 0rem 0.8rem 0.4rem rgb(77, 70, 70);
    }

    #img-1 {
      margin-bottom: 15%;
      width: 28rem;
      height: 28rem;
      transform: rotate(10deg);
    }

    #img-2 {
      margin-top: 10%;
      width: 30rem;
      height: 30rem;
    }
  }
}
