@import '../variables/global.scss';

#main-page {
  position: absolute;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: var(--tertiary-color);
}

#container {
  display: flex;
  flex-direction: row;
}

#spot-1 {
  width: 35%;
  position: absolute;
  top: 30%;

  path {
    fill: var(--main-page-spots);
  }
}

#right-side {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 90%;
}

#img-1 {
  position: absolute;
  width: 37rem;
  height: 37rem;
  left: -5%;
  top: 15%;
  z-index: 1;
}

#img-3 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 13%;
  top: 15%;
  z-index: 1;
}

#spot {
  position: absolute;
  width: 18rem;
  height: 18rem;
  left: 25%;
  top: 30%;
  border-radius: 50%;
  background-color: var(--main-page-spots);
}

.box {
  position: relative;
  top: 25%;
  left: -11%;
  background: var(--main-page-spots);
  opacity: 0.9;
  border-radius: 10px;
  width: 13rem;
  height: 5.3rem;
  filter: drop-shadow(3px 3px 3px #677375);
}

#mind-icon,
#educate-icon,
#manage-icon {
  position: relative;
  top: 10%;
  left: 30%;
  width: 2rem;
  margin-left: auto;
}

p {
  position: relative;
  top: -15%;
  left: 50%;
  margin: auto;
}

.text {
  position: relative;
  left: 8%;
  top: -5%;
  width: 12rem;
  font-size: 0.85rem;
}

#educate {
  position: relative;
  top: 55%;
  left: 54%;

  .text {
    position: inherit;
    left: 3%;
  }
}

#manage {
  position: relative;
  top: 5%;
  left: 60%;
}

#left-side {
  display: flex;
  flex-direction: column;
}

.slogan {
  position: relative;
  top: 40%;
  left: -40%;
  padding-left: 10rem;
  color: var(--forth-color);
  font-size: 3rem;
  font-style: italic;
}

#slogan-2 {
  position: relative;
  left: 110%;
}

#welcome-text {
  z-index: 1;
  width: 120%;
  margin-top: 1rem;
  padding-left: 10%;
  color: var(--welcome-span-color);
}

#buttons {
  z-index: 1;
  position: relative;
  top: 145%;
  display: flex;
  flex-direction: row;
  gap: 20%;
}

#login-btn {
  margin-left: 5rem;
}

@media (max-width: $breakpoint-tablet) {
  #main-page {
    width: 100%;
    height: 100%;
  }

  #spot-1 {
    width: 70%;
    top: 53%;
  }

  #welcome-text {
    top: 265%;
    font-size: 16px;
    padding: 0;
    left: 3%;
  }

  #img-1 {
    width: 40rem;
    height: 40rem;
    left: -50%;
    top: 10%;
  }

  #img-3 {
    width: 30rem;
    height: 30rem;
    left: -18%;
    top: 13%;
  }

  #spot {
    width: 22rem;
    height: 22rem;
    left: 5%;
    top: 20%;
  }

  .box {
    top: 20%;
    left: -65%;
  }

  #educate {
    top: 40%;
    left: 40%;
  }

  #manage {
    top: 35%;
    left: -80%;
  }

  .slogan {
    top: 20%;
    left: -53%;
  }

  #buttons {
    top: 310%;
    gap: 15%;
  }
}

@media (max-width: 800px) {
  #spot-1 {
    left: 5%;
    width: 65%;
    top: 50%;
  }

  #welcome-text {
    left: 10%;
    top: 240%;
    font-size: 14px;
  }

  #login-btn {
    top: 260%;
    left: 12%;
  }

  #register-btn {
    top: 260%;
    left: 40%;
  }
}

@media (max-width: 710px) {
  .slogan,
  #slogan-2,
  #welcome-text,
  #spot-1 {
    display: none;
  }

  #img-1 {
    width: 20rem;
    height: 20rem;
    left: -50%;
    top: 15%;
  }

  #spot {
    width: 15rem;
    height: 15rem;
  }

  #img-3 {
    width: 15rem;
    height: 15rem;
    left: -25%;
    top: 20%;
  }

  .box {
    top: 30%;
    left: -90%;
    width: 8.5rem;
  }

  #mind-icon,
  #educate-icon,
  #manage-icon {
    top: 10%;
    left: 28%;
    width: 1rem;
  }

  p {
    font-size: 1rem;
    top: -12%;
    left: 45%;
  }

  .text {
    left: 5%;
    top: -5%;
    width: 8rem;
    font-size: 0.75rem;
  }

  #educate {
    top: 35%;
    left: -25%;
  }

  #manage {
    top: -10%;
    left: -25%;
  }

  #buttons {
    flex-direction: column;
    gap: 10%;
    top: 600%;
    left: 140%;
  }

  #login-btn {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 540px) {
  #buttons {
    top: 500%;
    left: 130%;
  }
}

@media (max-width: 415px) {
  #manage {
    top: -5%;
    left: -25%;
  }

  #buttons {
    top: 600%;
    left: 95%;
    gap: 25%;
  }
}

@media (max-width: 380px) {
  #manage {
    top: -5%;
    left: -25%;
  }

  #buttons {
    top: 480%;
    left: 80%;
    gap: 15%;
  }
}

@media (min-width: $breakpoint-tablet) {
  .slogan {
    top: 45%;
    left: -45%;
    font-size: 2em;
    margin-bottom: 0.75em;
  }

  #login-btn {
    left: 10%;
    top: 150%;
  }

  #register-btn {
    left: 55%;
    top: 140%;
  }

  #welcome-text {
    font-size: 0.75em;
    top: 125%;
    left: 3%;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: 1380px) {
  #login-btn {
    margin-left: 10%;
  }

  #buttons {
    top: 160%;
    gap: 15%;
  }

  #welcome-text {
    padding-left: 0;
    top: 120%;
  }
}

@media (min-width: 1550px) and (max-width: 1700px) {
  #login-btn {
    margin-left: 10%;
  }

  #buttons {
    top: 140%;
  }

  #welcome-text {
    font-size: 16px;
    top: 110%;
    padding-left: 0;
  }
}

@media (min-width: 1380px) and (max-width: 1550px) {
  #login-btn {
    margin-left: 7%;
  }

  #buttons {
    top: 140%;
    gap: 8%;
  }

  #welcome-text {
    font-size: 15px;
    padding-left: 0.1rem;
    top: 110%;
  }
}

@media (min-width: 1700px) {
  #login-btn {
    margin-left: 15%;
  }

  #buttons {
    top: 140%;
  }

  #welcome-text {
    font-size: 17px;
    top: 110%;
    padding-left: 5%;
  }
}
